.cupidContainer {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(226, 194, 134), 1%, white);
  overflow: hidden;
}

.musicalCupid {
  padding: 1px;
  padding-left: 5.5em;
}

.cupidTitle {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  width: 90vw;
}

.cupidImg {
  width: 18em;
  height: 18em;
  position: relative;
  left: 1%;

  top: 5%;

  margin: 4em;
  margin-left: 3.5em;
  border-radius: 0px 1.5em;
  z-index: 1;
}

.matchBtns {
  display: flex;
  align-items: center;
  width: 15em;
  top: 60%;
  position: absolute;
  z-index: 2;
  margin-top: -5.5em;
  margin-left: 3em;
}

.heart {
  width: 3em;
  height: 3em;
  background-image: url(../../Img/heart.svg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  margin-left: 2em;
  border-radius: 50%;
  padding: 15px;
  border: none;
}

.big {
  transform: scale(20);
  opacity: 0;
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
}

.cross {
  width: 3em;
  height: 3em;
  background-image: url(../../Img/cross.svg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  margin-left: 2em;
  border-radius: 50%;
  padding: 15px;
  border: none;
}

.disabled {
  color: rgb(59, 63, 66);
  border: none;
  border-radius: 0px 16px;
  padding: 12px 16px;
  width: 21em;
  background-color: #e4e6e8;
  position: absolute;
  bottom: 3rem;
}

.enabled {
  background-color: #FF8E0A;
  color: rgb(59, 63, 66);
  border: none;
  border-radius: 0px 16px;
  padding: 12px 16px;
  width: 21em;
  position: absolute;
  bottom: 3rem;

}

.artist-name {
  margin-top: 2em;
  position: absolute;
  width: 100%;
  top: 440px;
  left: 0;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #26262E;
}

body {
  overflow: hidden;
}

.cupidImg2 {
  width: 14em;
  height: 14em;
  position: relative;
  bottom: 380px;
  left: 200px;
  opacity: 0.3;
  filter: drop-shadow(0px 0px 6px rgba(8, 8, 17, 0.08)) drop-shadow(6px 6px 12px rgba(8, 8, 17, 0.08));
  border-radius: 0px 36px;
  transform: rotate(10.45deg);

}

.cupidImg2>img {
  border-radius: 0px 36px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cupidImg>img {
  border-radius: 0px 36px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.liked-artist-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 600px;
  width: 300px;
}

.matches {
  position: absolute;
  left: 6.52%;
  right: 6.52%;
  top: 65.67%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #26262E;

}

.artist {

  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 0px 6px rgba(8, 8, 17, 0.04)) drop-shadow(2px 2px 4px rgba(8, 8, 17, 0.08));
  border-radius: 32px;
}

.artist>img {
  width: 100%;
  border-radius: 50%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #FF8E0A;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  bottom: 3rem;
  left: 195;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.modal {
  width: 390px;
  height: 844px;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.pop-up {
  width: 75%;
  height: 80%;
  margin: 20% 12.5%;
  background-color: white;
  border-radius: 20px;
  padding: 2rem 1rem;

}

.pop-up-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.animacionImg2 {
  animation: proxArtist 0.25s ease-out forwards;
}


@keyframes proxArtist {
  0% {
    background-color: blue;
    left: 53%;
    right: 29.1%;

    transform: rotate(10.45deg);
  }

  10% {
    left: 50%;
  }

  20% {
    background-color: red;
    left: 48%;
    right: 29.1%;

    bottom: 56.21%;
    transform: rotate(9deg);
  }

  30% {
    left: 46%;
  }

  40% {
    background-color: yellow;
    left: 42%;
    right: 29.1%;

    bottom: 56.21%;
    transform: rotate(7.5deg);
  }

  50% {
    left: 39%;
  }

  60% {
    background-color: salmon;
    left: 35%;
    right: 29.1%;

    bottom: 56.21%;
    transform: rotate(5deg);
  }

  70% {
    left: 30%;
  }

  80% {
    background-color: aqua;
    left: 26%;
    right: 29.1%;

    bottom: 56.21%;
    transform: rotate(2deg);
  }

  90% {
    left: 23%;
  }

  100% {
    background-color: blue;
    left: 18%;
    right: 29.1%;
    top: 20%;
    bottom: 56.21%;
    transform: rotate(0deg);
  }
}



.animacionImg1Like {
  animation: currentArtistLike 0.3s ease-out forwards;
}

@keyframes currentArtistLike {
  0% {
    left: 1%;
    top: 5%;

    transform: rotate(0deg);
  }

  10% {
    left: -3%;
    transform: rotate(-2deg);
    top: 6%
  }


  20% {
    left: -6%;

    top: 7%;

    transform: rotate(-4deg);
  }



  30% {
    left: -9%;
    top: 9%;
    transform: rotate(-8deg);
  }



  40% {
    left: -12%;
    top: 11%;

    opacity: 0.9;
    transform: rotate(-12deg);
  }



  50% {
    left: -15%;
    top: 12%;
    transform: rotate(-16deg);
    opacity: 0.8;
  }



  60% {
    left: -18%;

    top: 14%;
    opacity: 0.7;
    transform: rotate(-20deg);
  }




  70% {
    left: -20%;
    top: 15%;
    transform: rotate(-24deg);
    opacity: 0.6;
  }



  80% {
    left: -26%;
    top: 16%;
    opacity: 0.4;


    transform: rotate(-28deg);
  }



  90% {
    left: -32%;
    top: 18%;
    transform: rotate(-29deg);
    opacity: 0.2;
  }



  100% {
    left: -35%;

    top: 20%;
    opacity: 0;
    transform: rotate(-30deg);
  }

}



.animacionImg1Dislike {
  animation: currentArtistDislike 0.3s ease-out forwards;
}

@keyframes currentArtistDislike {
  0% {
    left: 1%;
    top: 5%;

    transform: rotate(0deg);
  }

  10% {
    left: 3%;
    transform: rotate(2deg);
    top: 6%
  }


  20% {
    left: 6%;

    top: 7%;

    transform: rotate(4deg);
  }



  30% {
    left: 9%;
    top: 9%;
    transform: rotate(8deg);
  }



  40% {
    left: 12%;
    top: 11%;

    opacity: 0.9;
    transform: rotate(12deg);
  }



  50% {
    left: 15%;
    top: 12%;
    transform: rotate(16deg);
    opacity: 0.8;
  }



  60% {
    left: 18%;

    top: 14%;
    opacity: 0.7;
    transform: rotate(20deg);
  }




  70% {
    left: 20%;
    top: 15%;
    transform: rotate(24deg);
    opacity: 0.6;
  }



  80% {
    left: 26%;
    top: 16%;
    opacity: 0.4;


    transform: rotate(28deg);
  }



  90% {
    left: 32%;
    top: 18%;
    transform: rotate(29deg);
    opacity: 0.2;
  }



  100% {
    left: 35%;

    top: 20%;
    opacity: 0;
    transform: rotate(30deg);
  }

}