.search-bar {
    position: relative;
    width: 320px;
    height: 48px;
    left: 24px;
    top: 98px;
    border: 2px solid #BFC0C1;
    border-radius: 0px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #BFC0C1;
    padding-left: 52px;

}


.searcher-title {
    position: absolute;
    width: 320px;
    height: 36px;
    left: 24px;
    top: 48px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #26262E;

}

.search-vector {
    position: absolute;
    width: 19.74px;
    height: 19.74px;
    top: 112px;
    left: 38px;
}

.top-20s {
    width: 64px;
    height: 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #26262E;

}

.divider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 320px;
    height: 24px;
    left: 24px;
    top: 170px;
}

.trending-grid-mundial {
    position: absolute;
    width: 368px;
    height: 480px;
    left: 0px;
    top: 216px;
    overflow-y: scroll;
}

.trend-grid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 320px;
    height: 2184px;
    left: calc(50% - 320px/2);
    top: 0px;
}

.song-container {
    height: 204px;
    width: 152px;
    text-align: center;
}

.song-image {
    width: 152px;
    height: 152px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/4f/ACDCPowerUp.jpg');
    background-size: contain;
}

.song-title {

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #26262E;
}

.song-artist {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.5px;

    /* Medios Tonos/Gris 3 */

    color: #838486;

}