.plContainer {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(226, 194, 134), 1%, white);
}
.generated {
  margin-top: 1em;
}

.plTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;
  width: 90vw;
  font-weight: 500;
}

.plImg {
  width: 15em;
  height: 15em;
  margin: 4em;
  margin-left: 3.5em;
  border-radius: 0px 1.5em;
  z-index: 1;
  background-color: rgba(0, 255, 255, 0.308);
}
.plOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;
  width: 90vw;
  font-weight: 500;
}
.plOptions2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 3em;
  width: 90vw;
  font-weight: 500;
}
.copy {
  font-size: 1.5em;
}
