* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}

.btn-standard {
  background-color: #FF8E0A;
  border: none;
  border-radius: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  
}

.disabled {
  background-color: #e4e6e8;
}