.profile-info>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}

.profile-info {
    display: flex;
}

.profile-info>.profile-text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text>.name {
    color: #26262E;
    font-size: 18px;
}

.profile-text>.user_name {
    color: #838486;
    font-weight: 400;
    font-size: 14px;


}

.friends>.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2rem 24px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.friends>.search-bar {
    top: 6rem;
    width: 340px;

}

.friends>.search-logo {
    position: relative;
    top: 102px;
    right: 300px;
}

.friends>div>.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 320px;
    height: 24px;
    left: 24px;
    top: 170px;


}



.friends-container {
    position: absolute;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    top: 12rem;
    gap: 12px;
}